<!DOCTYPE html>
<html>
<body>
    <center>
    <h1>{{title}}</h1>
    Time : {{Time}}<br>
    <img src="https://www.brosistech.com/wp-content/uploads/2019/05/BCA-700x415.jpg">
</center>
</body>
</html>