<html>
    <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>
    .container{
        background-color:grey;
    }
</style>
</head>
    <body>
        <center>
            <div class="container">
        <h1 style="color: rgb(6, 255, 27);">My hobbies</h1>
        

        <pre>


        </pre>
        <table class="table table-striped table-hover table-borderless">
            <thead>
<tr class="table-primary"><th>Hobbies</th><th>Images</th></tr>
               
            </thead>
            <tbody>
                <tr class="table-danger">
                    <td>
                    {{hobi}}
                    </td>
                    <td>
                        <img src="{{img}}" class="rounded-circle" height="100" width="100">
                    </td>
                </tr>
                 <tr class="table-primary">
                    <td>
                    {{hobi2}}
                    </td>
                    <td>
                        <img src="{{img2}}" class="rounded-circle" height="100" width="100">
                    </td>
                </tr>
                 <tr class="table-warning">
                    <td>
                    Technolgy
                    </td>
                    <td>
                        <img src="https://content.thriveglobal.com/wp-content/uploads/2019/07/tech.jpg" class="rounded-circle" height="100" width="100">
                    </td>
                </tr>
            </tbody>
        </table>
<pre>




      


</pre>
        </center>
    </body>
</html>