<html>
    <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>
    .container{
        background-color: cornflowerblue;
    }
</style>
</head>
    <body>
        <center>
            <div class="container">
        <h1 style="color: blue;">Intro </h1>
        <img src="{{img}}" height="500" >
     <p>My Name is {{Name}} I am from {{adr}}</p>
        

</div>
        </center>
    </body>
</html>