<!DOCTYPE html>
<html>
<body>

    <center>
    <h1 style="color:blue">{{head}}</h1>

    Subject {{courses
    }}<br>
    <img src="https://telugu.thetelugufilmnagar.com/wp-content/uploads/2017/10/Mca-4.jpg"
</center>
</body>
</html>