<html>
    <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
    <body>
        <center>
            <div class="container">
        <h1 style="color: brown;">Personal Detail</h1>
        <pre>

        </pre>
       
       <table class="table table-borderless">
           <tbody class="table-secondary">
               <tr>
                   <th class="table-danger">Name</th>
                   <td>{{Name}}</td>
               </tr>
               <tr>
                   <th class="table-danger">register id</th>
                   <td>{{regi}}</td>
               </tr>
<tr>
                   <th class="table-danger">Mobile no</th>
                   <td>{{mb}}</td>

               </tr>
               <tr>
                   <th class="table-danger">email</th>
                   <td>{{ml}}</td>
               </tr>
           </tbody>
       </table>
        
        

        </center>
    </body>
</html>