<html>
    <body>
        <h1>Welcome on {{PageTitle}} Page</h1>
        <a href="/">Home</a><br>
        <a href="/about">About</a><br>
        <a href="/contactus">Contact us </a>
    </body>
</html>